.shareButton{
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: #111827;
    color: white;
    padding:10px 20px;
    border-radius:5px;
}
.share{
    margin-left: 5px;
}