.sharetoweb{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sharelogo-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.share-logo{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.shareinfo-text{
    text-align: start;
    margin-left: 20px;
}
.shareinfo-text .h4{
    margin-bottom: 13px
}
.shareinfo-text p{
    margin-top: -17px
}